In [1]:
import seaborn as sns
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

## Load the datasets contained in the seaborn library

#### We can get the names of the datasets in the library by the following method:

In [2]:
sns.get_dataset_names()

['anagrams',
 'anscombe',
 'attention',
 'brain_networks',
 'car_crashes',
 'diamonds',
 'dots',
 'dowjones',
 'exercise',
 'flights',
 'fmri',
 'geyser',
 'glue',
 'healthexp',
 'iris',
 'mpg',
 'penguins',
 'planets',
 'seaice',
 'taxis',
 'tips',
 'titanic']

## Load as a dataframe

In [3]:
df=sns.load_dataset('iris')
df.sample(10)

     sepal_length  sepal_width  petal_length  petal_width     species
124           6.7          3.3           5.7          2.1   virginica
140           6.7          3.1           5.6          2.4   virginica
97            6.2          2.9           4.3          1.3  versicolor
37            4.9          3.6           1.4          0.1      setosa
76            6.8          2.8           4.8          1.4  versicolor
93            5.0          2.3           3.3          1.0  versicolor
9             4.9          3.1           1.5          0.1      setosa
26            5.0          3.4           1.6          0.4      setosa
126           6.2          2.8           4.8          1.8   virginica
89            5.5          2.5           4.0          1.3  versicolor

## pydataset

In [6]:
from pydataset import data

initiated datasets repo at: C:\Users\USER\.pydataset/

In [7]:
data()

        dataset_id                                             title
0    AirPassengers       Monthly Airline Passenger Numbers 1949-1960
1          BJsales                 Sales Data with Leading Indicator
2              BOD                         Biochemical Oxygen Demand
3     Formaldehyde                     Determination of Formaldehyde
4     HairEyeColor         Hair and Eye Color of Statistics Students
..             ...                                               ...
752        VerbAgg                  Verbal Aggression item responses
753           cake                 Breakage Angle of Chocolate Cakes
754           cbpp                 Contagious bovine pleuropneumonia
755    grouseticks  Data on red grouse ticks from Elston et al. 2001
756     sleepstudy       Reaction times in a sleep deprivation study

[757 rows x 2 columns]

In [8]:
# loading BOD dataset
df=data('BOD')
df

   Time  demand
1     1     8.3
2     2    10.3
3     3    19.0
4     4    16.0
5     5    15.6
6     7    19.8